<!DOCTYPE html>
<html lang='en'>

{% set TITLE = 'LN-API' %}
{% set PATH = request.path %}
{% set URL = request.url %}

<head>

    <meta charset='UTF-8'>

    {% if title %}
    <title> {{ TITLE }} - {{ title }} </title>
    {% else %}
    <title> {{ TITLE }} </title>
    {% endif %}

    <!-- Enables SASS Features -->
    {% assets 'style' %}
    <link rel='stylesheet' type='text/css' href='{{ ASSET_URL }}' />
    {% endassets %}

</head>


<body>

    <nav id='nav'>

        <a id='nav-head' href='/'> {{ TITLE }} </a>

        <ul id='nav-list'>

            {% for route in routes %}

            {% set href = '/table/' + route.lower() %}
            {% set class = 'active' if (href == PATH) else '' %}

            <li class='{{ class }}'>

                <a href='{{ href }}' class='{{ class }}'>
                    {{ route }}
                </a>

            </li>

            {% endfor %}

        </ul>

        <div id='nav-login'>

            <button id='login-button'>
                Login
            </button>

        </div>

    </nav>

    <div id='main'>
        {% block main %}
        {% endblock %}
    </div>

</body>


</html>