{% extends 'base.html' %}

{% block main %}

{% set URL = request.root_url %}


<div id='main'>

    <div id='header'>

        ({{ entries | length }}) {{ table }}

    </div>


    <div id='api' class='content'>

        <form id='filters'>

            <div id='filters-top'>

                <div id='query-title' class='query'>
                    <label> Title </label>
                    <input name='title' type='text' />
                </div>

                <button id='filters-expand' type='button'> ▼ </button>

            </div>


            <div id='filters-mid' class=''>

                {% for query in queries[1:] %}

                {% set name = query.name %}
                {% set type = query.input %}
                {% set value = query.value %}

                {% set class = 'query' %}

                <div id='query-{{ name }}' class='query'>

                    <label> {{ name | capitalize }} </label>

                    {% if name == 'title' %}
                    <p> a </p>

                    {% elif name == 'format' %}
                    <select name='format'>
                        <option value=''> Any </option>
                        {% for opt in value.split('/') %}
                        <option value='{{ opt }}'> {{ opt | capitalize }} </option>
                        {% endfor %}
                    </select>

                    {% elif query == 'date' %}
                    <input name='{{ name }}' type='{{ type }}' value='{{ today }}' />


                    {% else %}
                    <input name='{{ name }}' type='{{ type }}' placeholder='{{ value }}' min='0' />
                    {% endif %}

                </div>

                {% endfor %}

            </div>


            <div id='filters-bot'>

                <div id='filters-options'>

                    <div id='options-limit' class='query'>
                        <label> Limit </label>
                        <input id='limit' name='limit' type='number' min='0' value='0' />
                    </div>

                    <div id='options-sorting' class='query'>

                        <label> Sort </label>

                        <select name='sort-by'>
                            <option value=''> By... </option>
                            {% for query in queries %}
                            <option value='{{ query.name }}'> {{ query.name | capitalize }} </option>
                            {% endfor %}
                        </select>

                        <select name='order'>
                            <option value='1'> ASC </option>
                            <option value='-1'> DSC </option>
                        </select>

                    </div>

                </div>

                <div id='filters-buttons'>
                    <button id='reset' type='reset'> Clear </button>
                    <button id='submit' type='submit'> Search </button>
                </div>

            </div>

        </form>


        <div id='grid'>

            {% for entry in entries %}

            {% set href = '/entry/show/' + entry._id | string %}
            {% set name = entry.title | replace(' vol', ' Vol') %}

            {% if name | length > 75 %}
            {% set name = name[:72] + '...' %}
            {% endif %}

            <a href='{{ href }}'>
                <img class='cover' src='{{ entry.cover }}' alt='{{ name }}' title='{{ name }}'>
                {{ entry.date }}
            </a>

            {% endfor %}

        </div>

    </div>

</div>



<script>

    const expand = document.getElementById( 'filters-expand' );
    const mid = document.getElementById( 'filters-mid' );

    expand.addEventListener( 'click', function () {
        this.classList.toggle( 'expanded' );
        mid.classList.toggle( 'expanded' );
    } );

</script>

{% endblock %}