{% extends 'base.html' %}

{% block main %}

{% set URL = request.root_url %}


<div id='main'>

    <div id='header'>

        ({{ entries | length }}) {{ table }}

    </div>


    <div id='api' class='content'>

        <form id='queries'>

            {% for query in queries %}

            <label> {{ query | capitalize }} </label>

            <!-- <input /> -->

            {% endfor %}

            <button type='submit'> Search </button>

        </form>


        <div id='grid'>

            {% for entry in entries %}

            {% set name = entry.title %}
            {% set href = '/entry/show/' + entry._id | string %}

            <a href='{{ href }}'>
                <img class='cover' src='{{ entry.cover }}' alt='{{ name }}' title='{{ name }}'>
                {{ entry.date }}
            </a>

            {% endfor %}

        </div>

    </div>

</div>

{% endblock %}

<script>
    const items = entries
</script>