{% extends 'base.html' %}

{% block main %}

{% set URL = request.root_url %}


<div id='main'>

    <div id='header'>

        ({{ entries | length }}) {{ table }}

    </div>


    <div id='api' class='content'>

        <form id='filters'>

            <div id='queries'>

                {% for query in queries %}

                {% set data = queries[query] %}
                {% set value = data.value %}
                {% set type = data.input %}

                <div id='query-{{ query }}' class='query'>
                    <label> {{ query | capitalize }} </label>

                    {% if query == 'format' %}
                    <select name='format'>
                        <option value=''> Any </option>
                        {% for opt in value.split('/') %}
                        <option value='{{ opt }}'> {{ opt | capitalize }} </option>
                        {% endfor %}
                    </select>

                    {% else %}
                    <input name='{{ query }}' type='{{ type }}' placeholder='{{ value }}' />
                    {% endif %}

                </div>

                {% endfor %}

            </div>

            <button type='submit'> Search </button>

        </form>


        <div id='grid'>

            {% for entry in entries %}

            {% set name = entry.title | replace(' vol', ' Vol') %}
            {% set href = '/entry/show/' + entry._id | string %}

            <a href='{{ href }}'>
                <img class='cover' src='{{ entry.cover }}' alt='{{ name }}' title='{{ name }}'>
                {{ entry.date }}
            </a>

            {% endfor %}

        </div>

    </div>

</div>

{% endblock %}