{% extends 'base.html' %}

{% block main %}

<div id='entry' class='main'>

    <div id='header'>

        {{ entry.title }}

    </div>


    <div id='entry-body'>


        <img src='{{ entry.cover }}' alt='{{ entry.title }}' />


        <div id='info'>

            <div id='details'>

                <div id='major'>
                    <p> Release Date: {{ entry.date }} </p>
                    <a href='{{ entry.url }}'> Original Site </a>
                </div>

                <div id='credits'>
                    {% for person in entry.credits %}
                    <div>
                        <strong>{{ person.position | capitalize }}:</strong>
                        <p>{{ person.name }}</p>
                    </div>
                    {% endfor %}
                </div>

                <div id='genres'>
                    {% for genre in entry.genres %}
                    {% set href = request.root_url + 'api/show/all?genre=' + genre %}
                    <a class='genre' href='{{ href }}'>
                        {{ genre | capitalize }}
                    </a>
                    {% endfor %}
                </div>

            </div>


            <div id='right'>

                <div id='blurb'>
                    {{ entry.blurb }}
                </div>

                <div id='media'>

                    <p> Media </p>

                    <div id='rows'>

                        {% for m in entry.media %}

                        {% set price = m.price %}
                        {% if not price %}
                        {% set price = '$-.-' %}
                        {% endif %}

                        {% set isbn = m.isbn %}
                        {% if not isbn %}
                        {% set isbn = '-' %}
                        {% endif %}

                        <div class='medium'>
                            {{ m.format | capitalize }}: {{ price }}
                            <br />
                            {{ isbn }}
                        </div>

                        {% endfor %}

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}