{% extends 'base.html' %}

{% block main %}

<div id='main'>

    <div id='header'>

        {{ entry.title | replace(' vol', ' Vol') }}

    </div>


    <div id='entry' class='content'>


        <img src='{{ entry.cover }}' alt='{{ entry.title }}' />


        <div id='info'>

            <div id='details'>

                <div id='major'>
                    <p> Release Date: {{ entry.date }} </p>
                    <a href='{{ entry.url }}'> Original Site </a>
                </div>


                <div id='credits'>

                    {% for person in entry.credits %}

                    <p>
                        <b>{{ person.position | capitalize }}:</b>
                        <br /> {{ person.name }}
                    </p>

                    {% endfor %}

                </div>


                <div id='genres'>

                    {% for genre in entry.genres %}

                    {% set query = genre | lower | replace(' ', '_') %}
                    {% set href = request.root_url + 'api/show/all?genre=' + query %}

                    <a class='genre' href='{{ href }}'>
                        {{ genre | capitalize }}
                    </a>

                    {% endfor %}

                </div>

            </div>


            <div id='right'>

                <div id='blurb'>
                    {{ entry.blurb | trim }}
                </div>

                <div id='media'>

                    <p> Media </p>

                    <div id='rows'>

                        {% for m in entry.media %}

                        {% set price = m.price | string %}
                        {% if price == 'NaN' %}
                        {% set price = '-.-' %}
                        {% endif %}

                        {% set isbn = m.isbn %}
                        {% if not isbn %}
                        {% set isbn = '[ NOT PROVIDED ]' %}
                        {% endif %}

                        <div class='medium'>
                            {{ m.format | capitalize }}: ${{ price }}
                            <br />
                            {{ isbn | upper }}
                        </div>

                        {% endfor %}

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}