{% extends 'base.html' %}

{% block main %}

{% set URL = request.root_url %}


<div id='main'>

    <div id='header'>

        {% if code %} ERROR: {{ code }}

        {% else %} API Instructions

        {% endif %}

    </div>


    {% if message %}

    <div id='error'>
        <div id='message'>
            <button onclick='close_err()'>
                ✖
            </button>
            {{ message }}
        </div>
    </div>

    {% endif %}


    <div id='index' class='content'>

        <div id='routes'>

            <table>

                <colgroup>
                    <col span='1' style='width: 70%'>
                    <col span='1' style='width: 30%'>
                </colgroup>

                <thead>
                    <th colspan="2">
                        Route: <i> /api/json/{code}
                    </th>
                </thead>

                <tbody>

                    <thead>
                        <th> Source </th>
                        <th> Code </th>
                    </thead>

                    {% for route in routes %}

                    {% set code = route.name %}
                    {% set name = route.value.title %}
                    {% set link = URL + 'api/json/' + code | lower %}

                    <tr>

                        <td> {{ name }} </td>

                        <td>
                            <a href='{{ link }}'>
                                {{ code }}
                            </a>
                        </td>

                    </tr>

                    {% endfor %}

                </tbody>
            </table>

        </div>


        <div id='filters'>

            <table>

                <colgroup>
                    <col span='1' style='width: 30%'>
                    <col span='1' style='width: 80%'>
                </colgroup>


                <tbody>

                    <thead>
                        <th colspan="2">
                            FILTER PARAMETERS
                        </th>
                    </thead>

                    <tr>
                        <th> Field </th>
                        <th> Query </th>
                    </tr>

                    {% for query in queries %}

                    <tr>
                        <td> {{ query.name }} </td>
                        <td>
                            <p> ?{{ query.name }}={{ query.query }} </p>
                        </td>
                    </tr>

                    {% endfor %}

                </tbody>
            </table>


        </div>

    </div>

</div>


<script>

    const error = document.getElementById( 'error' );

    function close_err() {
        error.style.display = 'none'
    }

</script>

{% endblock %}