{% extends 'base.html' %}

{% block main %}

{% set URL = request.root_url %}


<div id='index' class='main'>

    <div id='header'>

        {% if code %} ERROR: {{ code }}

        {% else %} API Instructions

        {% endif %}

    </div>


    {% if message %}

    <div id='description'>
        <strong> ⚠ -- &nbsp; </strong>
        <p> {{ message }} </p>
        <strong> &nbsp; -- ⚠ </strong>
    </div>

    {% endif %}


    <div id='api'>

        <div id='routes'>

            <p> API Routes: <i> /api/json/{table_code} </i> </p>

            <table>

                <colgroup>
                    <col span='1' style='width: 70%'>
                    <col span='1' style='width: 30%'>
                </colgroup>


                <tbody>

                    <tr>
                        <th> Table </th>
                        <th> Code </th>
                    </tr>

                    {% for route in routes %}

                    {% set code = route.name %}
                    {% set name = route.value.title %}
                    {% set link = URL + 'api/json/' + code | lower %}

                    <tr>

                        <td> {{ name }} </td>

                        <td>
                            <a href='{{ link }}'>
                                {{ code }}
                            </a>
                        </td>

                    </tr>

                    {% endfor %}

                </tbody>
            </table>

        </div>


        <div id='filters'>

            <p> Filters </p>

            <table>

                <colgroup>
                    <col span='1' style='width: 20%'>
                    <col span='1' style='width: 80%'>
                </colgroup>


                <tbody>

                    <tr>
                        <th> Field </th>
                        <th> Query </th>
                    </tr>

                    {% for query in queries %}

                    {% set type = query.value | replace('_', '') %}

                    <tr>
                        <td> {{ query }} </td>
                        <td>
                            <p> ?{{ query }}={{ queries[query] }} </p>
                        </td>
                    </tr>

                    {% endfor %}

                </tbody>
            </table>


        </div>


    </div>


</div>

{% endblock %}