body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }
  body nav {
    width: 15%;
    padding: 1%;
    color: white;
    background-color: #0388fc; }
    body nav #nav-head {
      margin: 10% 0 10% 0;
      font-size: x-large;
      text-align: center; }
    body nav #nav-list {
      padding: 0;
      text-align: center;
      list-style: none;
      list-style-position: inside; }
      body nav #nav-list li {
        font-size: large; }
      body nav #nav-list li:not(:last-child) {
        margin-bottom: 10%; }
    body nav #nav-login {
      margin-top: auto; }
  body .main {
    padding: 1%;
    background-color: white; }

* {
  box-sizing: border-box; }

.fill {
  width: 100%;
  height: 100%; }

.row {
  display: flex;
  flex-direction: row; }

.col {
  display: flex;
  flex-direction: column; }

.max {
  flex-grow: 1; }

.min {
  flex-shrink: 1; }

.center {
  align-items: center;
  justify-content: center; }
