$color: #0388fc;
$accent: white;

body {

    width: 100vw;
    height: 100vh;
    margin: 0;

    font-family: Verdana, Geneva, Tahoma, sans-serif;


    nav {

        width: 15%;
        padding: 1%;

        color: $accent;
        background-color: $color;

        #nav-head {
            margin: 10% 0 10% 0;
            font-size: x-large;
            text-align: center;
        }

        #nav-list {

            padding: 0;
            text-align: center;

            list-style: none;
            list-style-position: inside;

            li {
                font-size: large;
            }

            li:not(:last-child) {
                margin-bottom: 10%;
            }

        }


        #nav-login {
            margin-top: auto;
        }

    }

    .main {
        padding: 1%;
        background-color: $accent;
    }

}


// Shortcuts

* {
    box-sizing: border-box;
}

.fill {
    width: 100%;
    height: 100%;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.max {
    flex-grow: 1;
}

.min {
    flex-shrink: 1;
}

.center {
    align-items: center;
    justify-content: center;
}