$bg: darken($color, 10%);


.hide {
    display: none !important;
}


#api {

    @extend .fill;
    @extend .col;

    justify-content: space-between;
    gap: 1%;


    #filters {

        @extend .center;
        @extend .col;

        flex: 1 0 auto;
        gap: clamp(1px, 2vh, 25px);

        color: white;
        background-color: $bg;

        padding: 2vh 1.5vw;
        font-size: clamp(1em, 1.7vh, 2em);

        label {
            margin-right: 5px;
        }

        input,
        button,
        select {

            cursor: pointer;

            color: white;
            background-color: $color;
            border: 0 solid transparent;

            padding-inline: 1%;
            text-align: center;
            font-size: clamp(0.8em, 1.5vh, 5em);

        }


        @include portrait {

            padding: 1.5vh 3vw;
            font-size: clamp(0.8em, 1.75vh, 5em);

            input,
            button,
            select {
                font-size: clamp(0.8em, 1.75vh, 5em);
            }
        }


        .query {

            @extend .center;
            @extend .row;

            flex-grow: 1;
            flex-shrink: 1;

            height: 1.75em;


            label {
                margin-right: clamp(5px, 2vw, 15px);
            }

            input {
                @extend .fill;
                text-overflow: ellipsis;
            }

        }


        #filters-top {

            @extend .row;
            justify-content: space-between;
            gap: 5%;

            width: 100%;


            #query-title {
                height: 100%;
                flex-basis: 100%;
            }

            #filters-expand {

                font-size: 1.5vmax;
                background-color: $bg;
                transition: transform 0.2s ease-in;

                &.expanded {
                    transform: rotate(180deg);
                }

            }

        }


        #filters-mid {

            @extend .row;
            flex: 1 1 0px;
            flex-wrap: wrap;

            gap: 2vh clamp(5px, 1.5vw, 2%);
            width: 100%;


            // Accordion Properties
            min-height: 0px;
            overflow: hidden;
            transition: flex-basis 0.25s ease-in;

            &.expanded {

                flex-basis: 4.5em;

                @include portrait {
                    flex-basis: 11em;
                }

            }


            #query-genres,
            #query-credits {

                max-width: none;

                flex-basis: 49%;

                @include portrait {
                    flex-basis: 100%;
                }

            }

            #query-date {

                min-width: 0;
                flex-basis: 19%;

                @include portrait {
                    flex-basis: 51%;
                }

                input {
                    min-width: 0;
                    max-width: 75%;
                }

            }

            #query-format {

                flex-basis: 15%;

                @include portrait {
                    flex-basis: 44%;
                }

            }

            #query-price {

                flex-basis: 10%;

                @include portrait {
                    flex-basis: 20%;
                }

            }

            #query-isbn {

                flex-basis: 30%;

                @include portrait {
                    flex-basis: 45%;
                }

            }

        }


        #filters-bot {

            @extend .center;
            @extend .flip;
            @extend .col;

            gap: 10vw;
            width: 100%;
            height: clamp(0, min-content, 10vh);

            @include portrait {
                width: 100%;
                gap: 1vh;
            }

            &>div {
                height: 100%;
            }


            #filters-options {

                @extend .center;
                @extend .row;

                flex: 1 0 40%;
                gap: 3%;

                @include portrait {
                    width: 100%;
                }


                &>div {
                    @extend .center;
                    gap: 1%;
                }

                #options-limit {
                    flex: 1 1 30%;
                }

            }

            #filters-buttons {

                @extend .row;
                flex: 1 1 90%;
                gap: 10%;

                @include portrait {
                    width: 90%;
                }


                button {

                    @extend .center;
                    @extend .fill;

                    flex: 1 1 50%;
                    cursor: pointer;

                }

            }

        }

    }


    #grid {

        @extend .fill;
        flex: 1 1 100%;
        display: grid;

        overflow: auto;
        // background-color: transparent;

        gap: 3% 2%;
        grid-auto-rows: 40vh;
        grid-template-columns: repeat(6, 1fr);

        @include portrait {
            grid-auto-rows: 30vh;
            grid-template-columns: repeat(2, 1fr)
        }


        a {

            @extend .col;
            @extend .fill;
            justify-content: space-between;
            display: flex;
            padding: 5% 0;
            gap: 2%;

            font-size: clamp(1em, 2vh, 2em);
            text-align: center;
            text-decoration: none;

            color: $accent;
            background-color: $color;

            img.cover {
                @extend .fill;
                padding: 0 5%;
            }

        }

    }

}