#api {

    @extend .col;
    @extend .fill;

    justify-content: space-around;
    flex: 0 1 40%;
    gap: 5%;


    #queries {

        @extend .row;
        @extend .center;
        justify-content: space-around;
        flex: 0 0 5%;

        background-color: red;

    }


    #grid {

        @extend .fill;

        flex: 0 1 90%;
        display: grid;
        overflow: auto;

        gap: 3% 2%;
        grid-auto-rows: 40vh;
        grid-template-columns: repeat(6, 1fr);


        a {

            @extend .col;
            @extend .fill;
            justify-content: space-between;
            display: flex;
            padding: 5% 0;
            gap: 2%;

            font-size: 2vh;
            text-align: center;
            text-decoration: none;

            color: $accent;
            background-color: $color;

            img.cover {
                @extend .fill;
                padding: 0 5%;

            }

        }

    }

}