$bg: darken($color: $color, $amount: 50%);


#entry {

    gap: 2%;
    width: 100%;
    color: white;

    flex: 1 1 100%;
    display: flex;
    @extend .flip;


    #cover {

        font-size: clamp(1.5em, 2vmax, 3em);

        @include landscape {
            flex: 1 1 0;
        }


        img {
            @extend .fill;
            padding: 1vmax;
        }

    }


    #info {

        @extend .flip;

        display: flex;
        padding: 0;
        margin: 0;

        @include landscape {
            flex: 2 1 0;
            gap: 3%;
        }

        @include portrait {
            height: fit-content;
            flex: 1 1 100%;
            gap: 2%;
        }


        &>div {

            @extend .center;
            @extend .col;

            padding: 4% 3%;
            background-color: $color;

            @include landscape {
                flex: 1 1 100%;
            }

            @include portrait {
                height: fit-content;
            }

        }


        div#text {

            @include portrait {
                text-align: center;
            }


            #release {

                flex: 1 1 0;

                p {

                    margin: 0 0 2% 0;
                    font-size: clamp(1em, 2vw, 1.5em);

                    @include portrait {
                        font-size: clamp(1.5em, 3vh, 2.75em);
                    }

                }

                a:link {

                    color: white;
                    font-size: clamp(1em, 1.75vw, 1.25em);

                    @include portrait {
                        font-size: clamp(1.5em, 2.5vh, 2.5em);
                    }

                }

            }


            #credits {

                flex: 1 1 0;
                padding: 5% 0;
                gap: 5% 0;

                display: grid;
                grid-auto-rows: repeat(3, 1fr);
                grid-template-columns: repeat(2, 1fr);
                font-size: clamp(0.9em, 1.5vh, 1.5em);

                @include portrait {
                    grid-auto-rows: repeat(2, 1fr);
                    grid-template-columns: repeat(3, 1fr);
                    font-size: clamp(0.35em, 1.4vh, 2em);
                }

                p {
                    margin: 0;
                }

            }


            #blurb {

                flex: 1 1 100%;

                display: grid;
                grid-template: 1 1;
                align-items: center;
                overflow-y: auto;

                padding: 5%;
                text-align: justify;
                text-justify: distribute;

                white-space: pre-line;
                background-color: $bg;
                border-radius: 1vmax;


                font-size: clamp(0.8em, 1.1vw, 1.5em);

                @include portrait {
                    font-size: clamp(1em, 2vh, 1.9em);
                }

            }

        }


        div#tags {

            &>div {

                @extend .col;

                @include portrait {
                    height: fit-content;
                }


                p {

                    margin: 5% 0;

                    font-size: clamp(1em, 2vw, 1.5em);

                    @include portrait {
                        font-size: clamp(1.5em, 3vh, 2.75em);
                    }

                }

            }


            #media {

                @extend .center;
                flex: 1 1 0;
                width: 80%;


                div {

                    @extend .center;
                    @extend .row;
                    gap: 5%;


                    .medium {

                        flex: 0 1 25%;
                        padding: 3% 7.5%;

                        display: grid;
                        align-items: center;
                        grid-template: 1fr, 1fr;

                        text-align: center;
                        background-color: $bg;
                        border-radius: 1vmax;

                        font-size: clamp(0.5em, 0.9vmax, 1em);

                        @include portrait {
                            font-size: clamp(0.75em, 2vmax, 1.75em);
                        }

                    }

                }

            }


            #genres {

                @extend .center;
                justify-content: flex-start;
                flex: 1 1 100%;

                width: 90%;
                height: fit-content;


                div {

                    flex: 1 1 0;
                    height: fit-content;

                    gap: 5% 2%;
                    display: grid;
                    grid-auto-rows: 1fr;
                    grid-template-columns: repeat(3, 1fr);


                    .genre {

                        @extend .center;
                        @extend .fill;

                        padding: 3% 5%;

                        text-align: center;
                        text-decoration: none;
                        text-overflow: ellipsis;

                        color: white;
                        background-color: $bg;
                        border-radius: 1vmax;


                        font-size: clamp(0.8em, 0.9vw, 1.5em);

                        @include portrait {
                            grid-auto-rows: 10vh;
                            font-size: clamp(0.8em, 1.5vh, 1.75em);
                        }

                    }

                }

            }

        }

    }

}