#index {

    @extend .col;
    @extend .fill;

    gap: 2%;
    flex: 0 1 40%;
    justify-content: space-between;


    #error {

        @extend .center;
        display: flex;
        flex: 0 0 10%;

        width: 100%;
        min-height: 0;

        color: white;
        font-size: smaller;

        border-radius: 3%;
        background-color: black;

        strong {
            margin: 0;
            font-size: 2em;
            vertical-align: middle;
        }

    }


    #instructions {

        @extend .row;
        @extend .fill;
        justify-content: space-between;
        flex-grow: 1;
        gap: 2%;


        div {

            width: 100%;
            margin: 1% 1%;
            padding: 3% 0;

            border-radius: 5%;
            background-color: $color;

            p {
                margin: 2% 0;
                font-size: large;
                color: $accent;
            }

        }


        #routes {
            flex: 0 1 40%;
        }

        #filters {
            flex: 0 1 60%;
        }


        .box {

            @extend .col;
            flex: 1 1 auto;
            align-items: center;

            table {

                width: 100%;
                height: 90%;

                margin: 1% auto;
                padding: 0 15%;

                th,
                td {

                    padding: 1.5% 0;
                    text-align: center;
                    background-color: slategray;

                    P {
                        margin: 0;
                        color: $accent;
                        font-size: medium;
                    }

                    a {

                        &:link {
                            color: $accent;
                        }

                    }

                }

            }

        }

    }

}