<!DOCTYPE html>
<html lang='en'>

{% from '_macros.html' import get_img %}

{% set TITLE = 'LN-API' %}
{% set LOGO = get_img('logo.svg') %}

<head>

    <meta charset='UTF-8'>
    <link rel='icon' type='image/svg+xml' href='{{ LOGO }}'>

    {% if title %}
    <title> {{ TITLE }} - {{ title }} </title>
    {% else %}
    <title> {{ TITLE }} </title>
    {% endif %}

    <!-- Enables SASS Features -->
    {% assets 'style' %}
    <link rel='stylesheet' type='text/css' href='{{ ASSET_URL }}' />
    {% endassets %}

</head>


<body>

    {% include 'nav.html' %}

    <div id='block'>
        {% block main %}
        {% endblock %}
    </div>

</body>


</html>