{% from '_macros.html' import get_img %}

{% set PATH = request.path %}


<nav id='nav'>

    <a id='nav-head' href='/' title='Home'>
        <img src='{{ LOGO }}' alt='Home' />
    </a>

    <hr />

    <ul id='nav-list'>

        {% for route in routes %}

        {% set code = route.name %}
        {% set href = '/api/show/' + code.lower() %}
        {% set is_active = 'active' if (href == PATH) else '' %}

        {% set props = route.value %}
        {% set title = props['title'] %}
        {% set symbol = props['symbol'] %}

        <li>

            <a class='{{ is_active }}' href='{{ href }}' title='{{ title }}'>

                <span class='{{ is_active }}'>
                    <b> {{ symbol }} </b>
                </span>

                <p> {{ code }} </p>

            </a>

        </li>

        {% endfor %}

    </ul>

</nav>