.fill {
    width: 100%;
    height: 100%;
}

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flip {

    flex-direction: row;

    @include portrait {
        flex-direction: column;
    }

}

.flip-h {

    flex-direction: column;

    @include portrait {
        flex-direction: row;
    }

}