// Thematic Variables
$color: #3A4149;
$accent: #D5D7D9;

@import '_breakpoints.scss';
@import '_orientation.scss';
@import '_shortcuts.scss';


html {
    @extend .fill;
}

body {

    @extend .row;
    @extend .fill;

    margin: 0;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    @import 'nav.scss';
    @import 'main.scss';

}


* {
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
}