#block {

    @extend .max;
    flex-grow: 1;

    font-family: 'Courier New', Courier, monospace;

    .main {

        @extend .col;
        @extend .center;

        width: 97.5%;
        height: 100%;

        margin: 0 1%;
        padding: 1%;

        background-color: white;


        #header {

            display: flex;
            align-items: center;
            justify-content: end;

            flex: 0 0 15%;
            width: 100%;

            margin: 1% 0;
            padding-right: 5%;
            font-size: xx-large;

            box-shadow: inset -5px -5px $color;

        }

        @import 'blueprints/entry.scss';
        @import 'blueprints/index.scss';
        @import 'blueprints/show.scss';

    }

}