#block {

    @extend .max;
    flex-grow: 1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    #main {

        @extend .col;
        @extend .center;

        width: 97.5%;
        height: 100%;

        margin: 0 1%;
        padding: 1%;

        background-color: white;


        #header {

            display: flex;
            align-items: center;
            justify-content: end;

            flex: 0 0 15%;
            width: 100%;

            margin: 1% 0;
            padding-right: 5%;
            text-align: right;
            font-size: xx-large;

            box-shadow: inset -5px -5px $color;

        }

        .content {
            max-height: 90vh;
            min-height: 80vh;
        }

        @import 'blueprints/index.scss';
        @import 'blueprints/entry.scss';
        @import 'blueprints/api.scss';

    }


    img {

        @extend .center;
        display: flex;

        color: $accent;
        text-align: center;

        object-fit: contain;
        background-color: $color;

    }

}