#block {

    @extend .max;
    flex-grow: 1;

    #main {

        @extend .col;

        width: 99%;
        height: 100%;

        padding: 1%;
        margin-left: 1%;

        background-color: white;


        #header {

            display: flex;
            align-items: center;
            justify-content: end;

            flex: 0 0 15%;
            width: 100%;

            margin: 1% 0;
            padding-right: 5%;
            font-size: xx-large;

            box-shadow: inset -5px -5px $color;

        }


        #grid {

            @extend .center;
            flex-grow: 1;

            width: 100%;
            max-height: 90vh;
            min-height: 75vh;
            overflow: auto;

            display: grid;
            gap: 3% 2%;
            grid-auto-rows: 300px;
            grid-template-columns: repeat(6, 1fr);


            .entry {

                @extend .center;
                display: flex;

                width: 100%;
                height: 100%;
                padding: 3%;

                color: $accent;
                text-align: center;

                object-fit: scale-down;
                background-color: $color;

            }

        }


        #api {

            @extend .row;
            display: flex;
            flex-grow: 1;

            width: 100%;
            height: 100%;

            #instructions {
                width: 100%;
                padding: 7.5%;
                background-color: red;
            }

            #queries {
                width: 100%;
                padding: 7.5%;
                background-color: green;
            }

        }


    }

}