.fill, body #block #main #api #grid a img.cover, body #block #main #api #grid a, body #block #main #api #grid, body #block #main #api, body #block #main #index #instructions, body #block #main #index {
  width: 100%;
  height: 100%; }

.col, body #block #main #api #grid a, body #block #main #api, body #block #main #entry #info #right #media, body #block #main #entry #info #right, body #block #main #entry #info #details, body #block #main #index #instructions .box, body #block #main #index, body #block #main, body nav {
  display: flex;
  flex-direction: column; }

.row, body #block #main #api #filters #queries .query, body #block #main #api #filters #queries, body #block #main #api #filters, body #block #main #entry #info #right #media #rows, body #block #main #entry #info, body #block #main #entry, body #block #main #index #instructions, body nav #nav-list li a, body {
  display: flex;
  flex-direction: row; }

.max, body #block {
  flex-grow: 1; }

.min {
  flex-shrink: 1; }

.center, body #block img, body #block #main #api #filters, body #block #main #entry #info #right #media, body #block #main #entry #info #details #genres .genre, body #block #main #index #error, body #block #main, body nav #nav-list li a span, body nav #nav-list li a, body nav #nav-head {
  align-items: center;
  justify-content: center; }

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }
  body nav {
    width: 110px;
    min-width: 7.5%;
    padding: 1% 0 1% 0;
    background-color: #3A4149; }
    body nav #nav-head {
      display: flex;
      height: 15%;
      margin: 5% auto;
      color: white;
      font-size: x-large;
      text-align: center;
      text-decoration: none; }
      body nav #nav-head img {
        width: 100%;
        height: 100%;
        border-width: 5%; }
    body nav hr {
      width: 85%;
      height: 5px;
      margin: 15% auto 10% auto;
      color: white;
      background-color: white; }
    body nav #nav-list {
      padding: 0;
      flex-grow: 1;
      text-align: center;
      list-style: none;
      list-style-position: inside; }
      body nav #nav-list li {
        height: 15%;
        margin: auto;
        font-size: large; }
        body nav #nav-list li a {
          display: flex;
          width: 100%;
          height: 100%;
          color: #D5D7D9;
          text-decoration: none; }
          body nav #nav-list li a:hover {
            color: white;
            background-color: #2f343b; }
          body nav #nav-list li a.active {
            color: white;
            border-left: 3px solid #D5D7D9;
            background-color: #23282d; }
          body nav #nav-list li a span {
            display: flex;
            width: 3vw;
            height: 3vw;
            color: #3A4149;
            background-color: #D5D7D9;
            border-radius: 50%; }
            body nav #nav-list li a span.active {
              background-color: white; }
          body nav #nav-list li a p {
            width: 15%;
            margin: 5% 0 5% 10%;
            font-size: x-small;
            font-family: monospace;
            writing-mode: vertical-lr;
            text-orientation: upright; }
    body nav #nav-login {
      width: 100%;
      height: 10%;
      margin-top: auto;
      text-align: center;
      color: white;
      border-color: transparent;
      background-color: transparent; }
      body nav #nav-login img {
        width: 50%;
        height: 50%;
        margin-top: 15%;
        margin-right: 5%;
        cursor: pointer; }
  body #block {
    flex-grow: 1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }
    body #block #main {
      width: 97.5%;
      height: 100%;
      margin: 0 1%;
      padding: 1%;
      background-color: white; }
      body #block #main #header {
        display: flex;
        align-items: center;
        justify-content: end;
        flex: 0 0 15%;
        width: 100%;
        margin: 1% 0;
        padding-right: 5%;
        text-align: right;
        font-size: xx-large;
        box-shadow: inset -5px -5px #3A4149; }
      body #block #main .content {
        max-height: 90vh;
        min-height: 80vh; }
      body #block #main #index {
        gap: 2%;
        flex: 0 1 40%;
        justify-content: space-between; }
        body #block #main #index #error {
          display: flex;
          flex: 0 0 10%;
          width: 100%;
          min-height: 0;
          color: white;
          font-size: smaller;
          border-radius: 3%;
          background-color: black; }
          body #block #main #index #error strong {
            margin: 0;
            font-size: 2em;
            vertical-align: middle; }
        body #block #main #index #instructions {
          justify-content: space-between;
          flex-grow: 1;
          gap: 2%; }
          body #block #main #index #instructions div {
            width: 100%;
            margin: 1% 1%;
            padding: 3% 0;
            border-radius: 5%;
            background-color: #3A4149; }
            body #block #main #index #instructions div p {
              margin: 2% 0;
              font-size: large;
              color: #D5D7D9; }
          body #block #main #index #instructions #routes {
            flex: 0 1 45%;
            font-size: larger; }
          body #block #main #index #instructions #filters {
            flex: 0 1 55%;
            font-size: larger; }
          body #block #main #index #instructions .box {
            flex: 1 1 auto;
            align-items: center; }
            body #block #main #index #instructions .box p {
              font-size: x-large; }
            body #block #main #index #instructions .box table {
              width: 100%;
              height: 90%;
              margin: 1% auto;
              padding: 0 15%; }
              body #block #main #index #instructions .box table th,
              body #block #main #index #instructions .box table td {
                padding: 1.5% 0;
                text-align: center;
                background-color: slategray; }
                body #block #main #index #instructions .box table th P,
                body #block #main #index #instructions .box table td P {
                  margin: 0;
                  color: #D5D7D9;
                  font-size: medium; }
                body #block #main #index #instructions .box table th a:link,
                body #block #main #index #instructions .box table td a:link {
                  color: #D5D7D9; }
      body #block #main #entry {
        display: flex;
        flex-grow: 1;
        gap: 2%;
        width: 100%;
        max-height: 90vh;
        min-height: 80vh; }
        body #block #main #entry img {
          flex: 0 0 31%;
          width: 100%;
          height: 100%;
          padding: 1%;
          object-fit: contain; }
        body #block #main #entry #info {
          gap: 2%;
          width: 100%;
          height: 100%;
          color: white; }
          body #block #main #entry #info #details {
            flex: 0 0 50%;
            justify-content: space-between;
            padding: 3%;
            gap: 5%;
            width: 100%;
            height: 100%;
            background-color: #3A4149; }
            body #block #main #entry #info #details #major p {
              margin: 0 0 2% 0;
              font-size: larger; }
            body #block #main #entry #info #details #major a:link {
              color: white;
              font-size: large; }
            body #block #main #entry #info #details #credits {
              display: grid;
              grid-auto-rows: repeat(3, 1fr);
              grid-template-columns: repeat(2, 1fr);
              color: white;
              font-size: larger; }
              body #block #main #entry #info #details #credits p {
                margin: 3%; }
            body #block #main #entry #info #details #genres {
              display: grid;
              flex-grow: 1;
              gap: 3% 2%;
              grid-auto-rows: 1fr;
              grid-template-columns: repeat(3, 1fr);
              overflow-y: auto; }
              body #block #main #entry #info #details #genres .genre {
                display: flex;
                min-height: 50px;
                padding: 2% 5%;
                overflow: hidden;
                font-size: small;
                text-align: center;
                color: white;
                background-color: black;
                text-decoration: none; }
          body #block #main #entry #info #right {
            flex: 0 0 48%;
            gap: 3%;
            width: 100%;
            height: 100%; }
            body #block #main #entry #info #right #blurb {
              flex: 1 0 70%;
              display: grid;
              grid-template: 1 1;
              align-items: center;
              overflow-y: auto;
              width: 100%;
              height: 100%;
              padding: 5%;
              white-space: pre-line;
              background-color: black; }
            body #block #main #entry #info #right #media {
              flex: 0 1 40%;
              padding: 3% 0;
              gap: 5%;
              width: 100%;
              height: 100%;
              background-color: #3A4149; }
              body #block #main #entry #info #right #media p {
                margin: 0;
                flex: 0 0 30%;
                font-size: x-large; }
              body #block #main #entry #info #right #media #rows {
                justify-content: space-between;
                flex: 0 0 50%;
                padding: 0 5%;
                gap: 5%;
                width: 100%; }
                body #block #main #entry #info #right #media #rows .medium {
                  flex: 1 0 45%;
                  display: grid;
                  grid-template: 1 1;
                  align-items: center;
                  font-size: small;
                  text-align: center;
                  background-color: black; }
      body #block #main #api {
        justify-content: space-around;
        flex: 0 1 30%;
        gap: 5%; }
        body #block #main #api #filters {
          flex: 0 0 5%;
          padding: 2% 0 0.5% 1.5%;
          color: white;
          background-color: black; }
          body #block #main #api #filters #queries {
            flex-wrap: wrap;
            width: 100%; }
            body #block #main #api #filters #queries .query {
              width: 15%;
              margin-bottom: 1.5%;
              text-align: center; }
              body #block #main #api #filters #queries .query label {
                margin-right: 15px; }
              body #block #main #api #filters #queries .query input {
                width: 100%; }
            body #block #main #api #filters #queries #query-title {
              flex: 1 0 100%; }
            body #block #main #api #filters #queries #query-credits {
              flex: 0 0 48.5%;
              margin-right: 2.5%; }
            body #block #main #api #filters #queries #query-genres {
              flex: 0 0 49%; }
            body #block #main #api #filters #queries #query-date {
              flex: 0 0 17%; }
            body #block #main #api #filters #queries #query-format,
            body #block #main #api #filters #queries #query-price {
              flex: 0 0 20%;
              margin-left: 5%;
              text-align: center; }
            body #block #main #api #filters #queries #query-isbn {
              flex: 0 0 28%;
              margin-left: 5%; }
              body #block #main #api #filters #queries #query-isbn label {
                text-transform: uppercase; }
          body #block #main #api #filters button {
            flex: 0 0 10%;
            margin: 0 5%; }
        body #block #main #api #grid {
          flex: 0 1 90%;
          display: grid;
          overflow: auto;
          gap: 3% 2%;
          grid-auto-rows: 40vh;
          grid-template-columns: repeat(6, 1fr); }
          body #block #main #api #grid a {
            justify-content: space-between;
            display: flex;
            padding: 5% 0;
            gap: 2%;
            font-size: 2vh;
            text-align: center;
            text-decoration: none;
            color: #D5D7D9;
            background-color: #3A4149; }
            body #block #main #api #grid a img.cover {
              padding: 0 5%; }
    body #block img {
      display: flex;
      color: #D5D7D9;
      text-align: center;
      object-fit: contain;
      background-color: #3A4149; }

* {
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none; }

*::-webkit-scrollbar {
  display: none; }
