.fill, body #block #main #api #grid a img.cover, body #block #main #api #grid a, body #block #main #api #grid, body #block #main #api #filters #filters-bot #filters-buttons button, body #block #main #api #filters .query input, body #block #main #api, body #block #main #entry #info div#tags #genres div .genre, body #block #main #entry #cover img, body #block #main #index, body #block #main, body #block, body nav #nav-head img, body, html {
  width: 100%;
  height: 100%; }

.col, body #block #main #api #grid a, body #block #main #api #filters #filters-bot, body #block #main #api #filters, body #block #main #api, body #block #main #entry #info div#tags > div, body #block #main #entry #info > div, body #block #main #index div, body #block #main, body nav {
  display: flex;
  flex-direction: column; }

.row, body #block #main #api #filters #filters-bot #filters-buttons, body #block #main #api #filters #filters-bot #filters-options, body #block #main #api #filters #filters-mid, body #block #main #api #filters #filters-top, body #block #main #api #filters .query, body #block #main #entry #info div#tags #media div, body nav #nav-list li a, body {
  display: flex;
  flex-direction: row; }

.center, body #block img, body #block #main #api #filters #filters-bot #filters-buttons button, body #block #main #api #filters #filters-bot #filters-options > div, body #block #main #api #filters #filters-bot #filters-options, body #block #main #api #filters #filters-bot, body #block #main #api #filters .query, body #block #main #api #filters, body #block #main #entry #info div#tags #genres div .genre, body #block #main #entry #info div#tags #genres, body #block #main #entry #info div#tags #media div, body #block #main #entry #info div#tags #media, body #block #main #entry #info > div, body #block #main #error, body nav #to-json a, body nav #nav-list li a span.symbol, body nav #nav-list li a, body nav #nav-head {
  display: flex;
  align-items: center;
  justify-content: center; }

.flip, body #block #main #api #filters #filters-bot, body #block #main #entry #info, body #block #main #entry {
  flex-direction: row; }
  @media screen and (orientation: portrait) {
    .flip, body #block #main #api #filters #filters-bot, body #block #main #entry #info, body #block #main #entry {
      flex-direction: column; } }
.flip-h {
  flex-direction: column; }
  @media screen and (orientation: portrait) {
    .flip-h {
      flex-direction: row; } }
body {
  margin: 0;
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }
  body nav {
    height: 100%;
    background-color: #3A4149;
    flex: 0 0 7.5%;
    max-width: 7.5%;
    padding: 1% 0; }
    @media screen and (orientation: portrait) {
      body nav {
        flex: 0 0 22.5%;
        max-width: 22.5%;
        padding: 10% 0; } }
    body nav #nav-head {
      display: flex;
      flex: 1 0 20%;
      margin: 5% auto;
      color: white;
      font-size: x-large;
      text-align: center;
      text-decoration: none; }
      body nav #nav-head img {
        border-width: 5%; }
    body nav #nav-list {
      flex: 1 1 100%;
      margin-top: 10%;
      padding: 0;
      text-align: center;
      list-style: none;
      list-style-position: inside; }
      body nav #nav-list li {
        height: 10vh;
        margin: auto;
        font-size: large; }
        body nav #nav-list li a {
          display: flex;
          width: 100%;
          height: 100%;
          color: #D5D7D9;
          text-decoration: none; }
          body nav #nav-list li a:hover {
            color: white;
            background-color: #2f343b; }
          body nav #nav-list li a.active {
            color: white;
            border-left: 3px solid #D5D7D9;
            background-color: #23282d; }
          body nav #nav-list li a span.symbol {
            height: 60%;
            aspect-ratio: 1;
            border-radius: 50%;
            color: #3A4149;
            background-color: #D5D7D9;
            font-size: 1.5vw; }
            @media screen and (orientation: portrait) {
              body nav #nav-list li a span.symbol {
                font-size: 3vh; } }
            body nav #nav-list li a span.symbol.active {
              background-color: white; }
          body nav #nav-list li a p.code {
            width: 15%;
            margin: 5% 0 5% 10%;
            font-size: 1vmax;
            font-family: monospace;
            writing-mode: vertical-lr;
            text-orientation: upright; }
            @media screen and (orientation: portrait) {
              body nav #nav-list li a p.code {
                display: none; } }
    body nav #to-json {
      width: 100%;
      height: 4.5%;
      margin: auto; }
      body nav #to-json a {
        width: 75%;
        height: 100%;
        margin: auto;
        text-align: center;
        text-decoration: none;
        font-family: monospace;
        color: #3A4149;
        background-color: #D5D7D9;
        border-radius: 5px;
        cursor: pointer;
        font-size: clamp(1em, 1.75vmax, 4em); }
        @media screen and (orientation: portrait) {
          body nav #to-json a {
            font-size: clamp(1em, 1.75vmax, 4em); } }
  body #block {
    flex: 1 0 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }
    body #block #main {
      justify-content: center;
      align-items: center;
      justify-content: flex-start;
      padding: 1vh 1vw;
      overflow: hidden; }
      body #block #main #header {
        display: flex;
        align-items: center;
        justify-content: end;
        width: 100%;
        margin: 1% 0;
        padding: 0 5% 0.75% 0;
        text-align: right;
        vertical-align: middle;
        font-size: clamp(1em, 2.5vmax, 3em);
        box-shadow: inset -0.5vmax -0.5vmax #3A4149;
        flex: 0 0 15%; }
        @media screen and (orientation: portrait) {
          body #block #main #header {
            flex: 0 0 7%; } }
      body #block #main .content {
        flex: 1 1 auto;
        overflow-y: auto;
        overflow-x: hidden; }
      body #block #main #error {
        width: 100%; }
        body #block #main #error #message {
          position: relative;
          width: 100%;
          margin: 0 1%;
          padding: 1.5vh 5.5vw;
          text-align: center;
          font-size: clamp(0.5rem, 2vmax, 3rem);
          color: white;
          background-color: black;
          border-radius: 10px; }
          body #block #main #error #message button {
            position: absolute;
            right: 1.5vw;
            top: 0.5vh;
            font-size: clamp(1em, 2vmax, 6em);
            color: white;
            border: 0 none transparent;
            background-color: transparent;
            cursor: pointer; }
      body #block #main #index {
        margin-top: 0.5vh;
        display: flex;
        flex-direction: row; }
        @media screen and (orientation: portrait) {
          body #block #main #index {
            flex-direction: column; } }
        body #block #main #index div {
          flex: 1 1 auto;
          align-items: center;
          width: 100%;
          flex-grow: 1;
          flex-shrink: 1; }
          body #block #main #index div#routes {
            flex-basis: 40%; }
          body #block #main #index div#filters {
            flex-basis: 60%; }
          body #block #main #index div table {
            flex: 1 1 100%;
            width: 100%;
            max-height: 100%;
            margin: 1% auto;
            padding: 0 2.5%; }
            @media screen and (orientation: portrait) {
              body #block #main #index div table {
                min-height: 77vh; } }
            body #block #main #index div table th,
            body #block #main #index div table td {
              padding: 0.35vh 0;
              text-align: center;
              font-size: clamp(0.25em, 1.5vmax, 2.75em); }
              @media screen and (orientation: portrait) {
                body #block #main #index div table th,
                body #block #main #index div table td {
                  font-size: clamp(0.25em, 2vmax, 3em); } }
              body #block #main #index div table th a:link,
              body #block #main #index div table td a:link {
                color: #D5D7D9; }
              body #block #main #index div table th P,
              body #block #main #index div table td P {
                margin: 0;
                font-size: clamp(0.25em, 1.5vmax, 2.75em); }
                @media screen and (orientation: portrait) {
                  body #block #main #index div table th P,
                  body #block #main #index div table td P {
                    font-size: clamp(0.25em, 2vmax, 3em); } }
            body #block #main #index div table th {
              color: #D5D7D9;
              background-color: #020202; }
            body #block #main #index div table td {
              color: #D5D7D9;
              background-color: #23282d; }
      body #block #main #entry {
        gap: 2%;
        width: 100%;
        color: white;
        flex: 1 1 100%;
        display: flex; }
        body #block #main #entry #cover {
          font-size: clamp(1.5em, 2vmax, 3em); }
          @media screen and (orientation: landscape) {
            body #block #main #entry #cover {
              flex: 1 1 0; } }
          body #block #main #entry #cover img {
            padding: 1vmax; }
        body #block #main #entry #info {
          display: flex;
          padding: 0;
          margin: 0; }
          @media screen and (orientation: landscape) {
            body #block #main #entry #info {
              flex: 2 1 0;
              gap: 3%; } }
          @media screen and (orientation: portrait) {
            body #block #main #entry #info {
              height: fit-content;
              flex: 1 1 100%;
              gap: 2%; } }
          body #block #main #entry #info > div {
            padding: 4% 3%;
            background-color: #3A4149; }
            @media screen and (orientation: landscape) {
              body #block #main #entry #info > div {
                flex: 1 1 100%; } }
            @media screen and (orientation: portrait) {
              body #block #main #entry #info > div {
                height: fit-content; } }
          @media screen and (orientation: portrait) {
            body #block #main #entry #info div#text {
              text-align: center; } }
          body #block #main #entry #info div#text #release {
            flex: 1 1 0; }
            body #block #main #entry #info div#text #release p {
              margin: 0 0 2% 0;
              font-size: clamp(1em, 2vw, 1.5em); }
              @media screen and (orientation: portrait) {
                body #block #main #entry #info div#text #release p {
                  font-size: clamp(1.5em, 3vh, 2.75em); } }
            body #block #main #entry #info div#text #release a:link {
              color: white;
              font-size: clamp(1em, 1.75vw, 1.25em); }
              @media screen and (orientation: portrait) {
                body #block #main #entry #info div#text #release a:link {
                  font-size: clamp(1.5em, 2.5vh, 2.5em); } }
          body #block #main #entry #info div#text #credits {
            flex: 1 1 0;
            padding: 5% 0;
            gap: 5% 0;
            display: grid;
            grid-auto-rows: repeat(3, 1fr);
            grid-template-columns: repeat(2, 1fr);
            font-size: clamp(0.9em, 1.5vh, 1.5em); }
            @media screen and (orientation: portrait) {
              body #block #main #entry #info div#text #credits {
                grid-auto-rows: repeat(2, 1fr);
                grid-template-columns: repeat(3, 1fr);
                font-size: clamp(0.35em, 1.4vh, 2em); } }
            body #block #main #entry #info div#text #credits p {
              margin: 0; }
          body #block #main #entry #info div#text #blurb {
            flex: 1 1 100%;
            display: grid;
            grid-template: 1 1;
            align-items: center;
            overflow-y: auto;
            padding: 5%;
            text-align: justify;
            text-justify: distribute;
            white-space: pre-line;
            background-color: black;
            border-radius: 1vmax;
            font-size: clamp(0.8em, 1.1vw, 1.5em); }
            @media screen and (orientation: portrait) {
              body #block #main #entry #info div#text #blurb {
                font-size: clamp(1em, 2vh, 1.9em); } }
          @media screen and (orientation: portrait) {
            body #block #main #entry #info div#tags > div {
              height: fit-content; } }
          body #block #main #entry #info div#tags > div p {
            margin: 5% 0;
            font-size: clamp(1em, 2vw, 1.5em); }
            @media screen and (orientation: portrait) {
              body #block #main #entry #info div#tags > div p {
                font-size: clamp(1.5em, 3vh, 2.75em); } }
          body #block #main #entry #info div#tags #media {
            flex: 1 1 0;
            width: 80%; }
            body #block #main #entry #info div#tags #media div {
              gap: 2%; }
              body #block #main #entry #info div#tags #media div .medium {
                flex: 0 1 25%;
                padding: 5% 1vw;
                display: grid;
                align-items: center;
                grid-template: 1fr, 1fr;
                background-color: black;
                border-radius: 1vmax;
                text-align: center;
                white-space: nowrap;
                font-size: clamp(0.5em, 0.9vmax, 1em); }
                @media screen and (orientation: portrait) {
                  body #block #main #entry #info div#tags #media div .medium {
                    font-size: clamp(0.75em, 2vmax, 1.75em); } }
          body #block #main #entry #info div#tags #genres {
            justify-content: flex-start;
            flex: 1 1 100%;
            width: 90%;
            height: fit-content; }
            body #block #main #entry #info div#tags #genres div {
              flex: 1 1 0;
              height: fit-content;
              gap: 5% 2%;
              display: grid;
              grid-auto-rows: 1fr;
              grid-template-columns: repeat(3, 1fr); }
              body #block #main #entry #info div#tags #genres div .genre {
                padding: 3% 5%;
                max-height: 10vh;
                text-align: center;
                text-decoration: none;
                text-overflow: ellipsis;
                color: white;
                background-color: black;
                border-radius: 1vmax;
                font-size: clamp(0.8em, 0.9vw, 1.5em); }
                @media screen and (orientation: portrait) {
                  body #block #main #entry #info div#tags #genres div .genre {
                    grid-auto-rows: 10vh;
                    font-size: clamp(0.8em, 1.5vh, 1.75em); } }
      body #block #main .hide {
        display: none !important; }
      body #block #main #api {
        justify-content: space-between;
        gap: 1%; }
        body #block #main #api #filters {
          flex: 1 0 auto;
          gap: clamp(1px, 2vh, 25px);
          color: white;
          background-color: #23282d;
          padding: 2vh 1.5vw;
          font-size: clamp(1em, 1.7vh, 2em); }
          body #block #main #api #filters label {
            margin-right: 5px; }
          body #block #main #api #filters input,
          body #block #main #api #filters button,
          body #block #main #api #filters select {
            cursor: pointer;
            height: 100%;
            color: white;
            background-color: #3A4149;
            border: 0 solid transparent;
            padding-inline: 1%;
            text-align: center;
            font-size: clamp(0.8em, 1.5vh, 5em); }
          @media screen and (orientation: portrait) {
            body #block #main #api #filters {
              padding: 1.5vh 3vw;
              font-size: clamp(0.8em, 1.75vh, 5em); }
              body #block #main #api #filters input,
              body #block #main #api #filters button,
              body #block #main #api #filters select {
                font-size: clamp(0.8em, 1.75vh, 5em); } }
          body #block #main #api #filters .query {
            flex-grow: 1;
            flex-shrink: 1;
            height: 1.75em; }
            body #block #main #api #filters .query label {
              margin-right: clamp(5px, 2vw, 15px); }
            body #block #main #api #filters .query input {
              text-overflow: ellipsis; }
          body #block #main #api #filters #filters-top {
            justify-content: space-between;
            gap: 5%;
            width: 100%; }
            body #block #main #api #filters #filters-top #query-title {
              height: 100%;
              flex-basis: 100%; }
            body #block #main #api #filters #filters-top #filters-expand {
              font-size: 1.5vmax;
              background-color: #23282d;
              transition: transform 0.2s ease-in; }
              body #block #main #api #filters #filters-top #filters-expand.expanded {
                transform: rotate(180deg); }
          body #block #main #api #filters #filters-mid {
            flex: 1 1 0px;
            flex-wrap: wrap;
            gap: 2vh clamp(5px, 1.5vw, 2%);
            width: 100%;
            min-height: 0px;
            overflow: hidden;
            transition: flex-basis 0.25s ease-in; }
            body #block #main #api #filters #filters-mid.expanded {
              flex-basis: 4.5em; }
              @media screen and (orientation: portrait) {
                body #block #main #api #filters #filters-mid.expanded {
                  flex-basis: 11em; } }
            body #block #main #api #filters #filters-mid #query-genres,
            body #block #main #api #filters #filters-mid #query-credits {
              max-width: none;
              flex-basis: 49%; }
              @media screen and (orientation: portrait) {
                body #block #main #api #filters #filters-mid #query-genres,
                body #block #main #api #filters #filters-mid #query-credits {
                  flex-basis: 100%; } }
            body #block #main #api #filters #filters-mid #query-date {
              min-width: 0;
              flex-basis: 19%; }
              @media screen and (orientation: portrait) {
                body #block #main #api #filters #filters-mid #query-date {
                  flex-basis: 51%; } }
              body #block #main #api #filters #filters-mid #query-date input {
                min-width: 0;
                max-width: 75%; }
            body #block #main #api #filters #filters-mid #query-format {
              flex-basis: 15%; }
              @media screen and (orientation: portrait) {
                body #block #main #api #filters #filters-mid #query-format {
                  flex-basis: 44%; } }
            body #block #main #api #filters #filters-mid #query-price {
              flex-basis: 10%; }
              @media screen and (orientation: portrait) {
                body #block #main #api #filters #filters-mid #query-price {
                  flex-basis: 20%; } }
            body #block #main #api #filters #filters-mid #query-isbn {
              flex-basis: 30%; }
              @media screen and (orientation: portrait) {
                body #block #main #api #filters #filters-mid #query-isbn {
                  flex-basis: 45%; } }
          body #block #main #api #filters #filters-bot {
            gap: 10vw;
            width: 100%;
            height: clamp(0, min-content, 10vh); }
            @media screen and (orientation: portrait) {
              body #block #main #api #filters #filters-bot {
                width: 100%;
                gap: 1vh; } }
            body #block #main #api #filters #filters-bot > div {
              height: 100%; }
            body #block #main #api #filters #filters-bot #filters-options {
              flex: 1 0 50%;
              gap: 3%; }
              @media screen and (orientation: portrait) {
                body #block #main #api #filters #filters-bot #filters-options {
                  width: 100%; } }
              body #block #main #api #filters #filters-bot #filters-options > div {
                gap: 1%; }
              body #block #main #api #filters #filters-bot #filters-options #options-limit {
                flex: 1 1 5em; }
            body #block #main #api #filters #filters-bot #filters-buttons {
              flex: 1 1 90%;
              gap: 10%; }
              @media screen and (orientation: portrait) {
                body #block #main #api #filters #filters-bot #filters-buttons {
                  width: 90%; } }
              body #block #main #api #filters #filters-bot #filters-buttons button {
                flex: 1 1 50%;
                cursor: pointer; }
        body #block #main #api #grid {
          flex: 1 1 100%;
          display: grid;
          overflow: auto;
          gap: 3% 2%;
          grid-auto-rows: 40vh;
          grid-template-columns: repeat(6, 1fr); }
          @media screen and (orientation: portrait) {
            body #block #main #api #grid {
              grid-auto-rows: 30vh;
              grid-template-columns: repeat(2, 1fr); } }
          body #block #main #api #grid a {
            justify-content: space-between;
            display: flex;
            padding: 5% 0;
            gap: 2%;
            font-size: clamp(1em, 2vh, 2em);
            text-align: center;
            text-decoration: none;
            color: #D5D7D9;
            background-color: #3A4149; }
            body #block #main #api #grid a img.cover {
              padding: 0 5%; }
    body #block img {
      color: #D5D7D9;
      text-align: center;
      object-fit: fill;
      background-color: #3A4149; }

* {
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none; }

*::-webkit-scrollbar {
  display: none; }
